<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Электронные документообороты. Ниже указан адрес электронной почты для связи с нами</p>
            <p class="mb-0">Email адрес: <a href="/">SomeEmail</a> Или наш Instagram: <a href="/docs/5.1/getting-started/introduction/">InstagramClosedInRF</a>.</p>
        </div>
    </footer>
</div>